    <%= link_to "創造を開始する", "/sekais/new" %>


<h1>投稿一覧</h1>
<% @sekais.each do |sekai| %>
  <p>タイトル</p>
  <span>
    <%= link_to sekai.name, "/sekais/#{sekai.id}" %>
    <td class="favorite-btn"><%= render "favorites/favorite-btn", sekai: sekai %></td>

  </span>
  <% end %>