<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class="col-md-3 offset-md-1 px-5 px-sm-0 mx-auto">
    
    <%= render 'userinfo', user: @user%>
    
    <%= render 'tagindex', tag_list: @tag_list%>
    </div>
    
    <div class='col-md-8 offset-md-1'>
    <h1>世界一覧</h1>
    <%= render 'index', sekais: @sekais%>
    </div>
  </div>
</div>