
<div class="container-fluid">
  <div class="row">
    <div class="main-visual">
          <div class="main-visual-content">
            <p class="main-visual-text　"color_white bkcolor_black>
              ようこそ"世界館"へ。<br />
              ここではあらゆる空想の世界が広がっています。<br />
              当サイトは新たなる創造主、観測者を歓迎します。<br />
            </p>
          </div>
    </div>
  </div>
</div>
