// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 900px; /* 高さ300px */
  background-image: image-url("topcover.jpg");
  background-size: cover;
}

.main-visual-content {
  width: 40%;
  height: 300px;
  text-align: center;
  padding-top: 105px;
  color: #d1d1d1;
}