<header>
  <nav>
    <div class='container px-5 px-sm-0'>
      <div class='row'>
        <div class="col-md-3 offset-md-1 px-5 px-sm-0 mx-auto">    
        <div class="container">
          <a>
              <span>お問い合わせ: 3bu1hho@gmail.com</span>
          </a>
        </div>
        </div>
      </div>
    </div>    
  </nav>
</header>